POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
NEXT_PUBLIC_API_URL=
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=
EMBEDDING_DIMENSIONS=
OPENAI_CHAT_MODEL=
SEARCH_MIN_SIMILARITY=
